# database credentials
DATABASE_HOST= "YOUR_DATABASE_HOST"
DATABASE_PASSWORD= "YOUR_DATABASE_PASSWORD"
DB_USER="YOUR_DATABASE_USER"
CERT_PATH="YOUR_CERT_PATH"

# google health
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
GOOGLE_REFRESH_TOKEN="YOUR_GOOGLE_REFRESH_TOKEN"

# fatsecret
FATSECRET_CONSUMER_KEY="YOUR_FATSECRET_CONSUMER_KEY"
FATSECRET_CONSUMER_SECRET="YOUR_FATSECRET_CONSUMER_SECRET"
FATSECRET_ACCESS_TOKEN="YOUR_FATSECRET_ACCESS_TOKEN"
FATSECRET_ACCESS_TOKEN_SECRET="YOUR_FATSECRET_ACCESS_TOKEN_SECRET"

# lyfta
LYFTA_API_KEY="YOUR_LYFTA_API_KEY"